.jobboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jobboard {
  width: 80%;
  margin: 20px auto 0;
  flex: 1;
}

.table-title-jobboard {
  display: grid;
  text-align: center;
  grid-template-columns: 20% 30% 20% 20% 10%;
}

.table-jobboard > * {
  @extend .table-title-jobboard;
}
