.message-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.message {
  width: 80%;
  margin: 30px auto 0;
  flex: 1;
}

.table-message > * {
  @extend .table-title-message;
}

.table-title-message {
  display: grid;
  text-align: center;
  grid-template-columns: 20% 40% 20% 20%;
}

.avator {
  display: flex;
  align-items: center;
}

.avator > img {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  margin-right: 10px;
}

.delete-icon {
  font-family: $font-btn;
  font-size: $font-size-large;
}

.delete-icon > * {
  margin-right: 5px;
}

.delete-icon:hover {
  cursor: pointer;
}
