.page {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.page > a {
  border: 2px solid $dark-grey;
  margin: 0 6px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.page > a:nth-child(2) {
  background-color: $grey;
  color: $off-white;
}

.page > a:hover {
  cursor: pointer;
  color: $off-white;
  background-color: $blue;
}
