@import './base/settings';
@import './base/base';
@import './components/chatbox';
@import './components/progressbar';
@import './components/landing';
@import './components/home';
@import './components/header';
@import './components/profile';
@import './components/message';
@import './components/financial';
@import './components/education';
@import './components/jobboard';
@import './components/table';
@import './components/page';
@import './components/register';
@import './components/footer';
@import './components/loginwindow'
